.page {
  padding: 60px 140px 100px;
  max-width: 1440px;
  margin: 0 auto;
}

.social {
  display: flex;
  gap: 32px;
  font-size: 22px;
}

.social a {
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 48px;
  font-size: 22px;
}

@media (max-width: 640px) {
  .page {
    padding: 32px 24px 64px;
  }

  .social {
    gap: 24px;
    font-size: 18px;
  }

  .details {
    font-size: 18px;
    margin-top: 32px;
  }
}
